{% extends 'base.html' %}
{% block content %}
<a href="{% url 'polls:index' %}" class="btn btn-info my-4">Back to Polls</a>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>{{ question.question_text }}</h2></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" class="btn btn-success btn-sm mt-2" value="Vote">
    </form>
{% endblock %}    